@font-face
	font-source('branding-black')
	
.branding-black
	font-family 'branding-black' !important
	font-weight normal !important

@font-face
	font-source('branding-blackitalic')
	
.branding-blackitalic
	font-family 'branding-blackitalic' !important
	font-weight normal !important

@font-face
	font-source('branding-bold')
	
.branding-bold
	font-family 'branding-bold' !important
	font-weight normal !important
	
@font-face
	font-source('branding-bolditalic')
	
.branding-bolditalic
	font-family 'branding-bolditalic' !important
	font-weight normal !important
	
@font-face
	font-source('branding-light')
	
.branding-light
	font-family 'branding-light' !important
	font-weight normal !important
	
@font-face
	font-source('branding-lightitalic')
	
.branding-lightitalic
	font-family 'branding-lightitalic' !important
	font-weight normal !important

@font-face
	font-source('branding-medium')
	
.branding-medium
	font-family 'branding-medium' !important
	font-weight normal !important

@font-face
	font-source('branding-mediumitalic')
	
.branding-mediumitalic
	font-family 'branding-mediumitalic' !important
	font-weight normal !important
	
@font-face
	font-source('branding-semibold')
	
.branding-semibold
	font-family 'branding-semibold' !important
	font-weight normal !important

@font-face
	font-source('branding-semibolditalic')
	
.branding-semibolditalic
	font-family 'branding-semibolditalic' !important
	font-weight normal !important
	
@font-face
	font-source('branding-semilight')
	
.branding-semilight
	font-family 'branding-semilight' !important
	font-weight normal !important

@font-face
	font-source('branding-semilightitalic')
	
.branding-semilightitalic
	font-family 'branding-semilightitalic' !important
	font-weight normal !important

@font-face
	font-source('branding-thin')
	
.branding-thin
	font-family 'branding-thin' !important
	font-weight normal !important

@font-face
	font-source('branding-thinitalic')
	
.branding-thinitalic
	font-family 'branding-thinitalic' !important
	font-weight normal !important
	

// fonts size
font-size-base			=	14px
// 39px
font-size-alpha 		=	floor(font-size-base * 2.8)
// 33px
font-size-beta 			=	floor(font-size-base * 2.4)
// 30px
font-size-gamma 		=	floor(font-size-base * 2.2)
// 28px
font-size-h1			=	floor(font-size-base * 2)
// 24px
font-size-h2			=	floor(font-size-base * 1.75)
// 21px
font-size-h3			=	floor(font-size-base * 1.5)
// 17px
font-size-h4			=	floor(font-size-base * 1.25)
// 14px
font-size-h5			=	floor(font-size-base)
// 11px
font-size-h6			=	floor(font-size-base * 0.85)