html
body
	height 100%
	font-weight normal
	font-size 18px
	color c_dark
.container
	padding 0 10px
	display block
	margin 0 auto
	max-width 1024px
	&.small
		max-width 1000px
	&.padding
		padding 0 10px
	&.ph
		padding 0 80px
.wrapper
	min-height 100%
	width 100%
	overflow hidden
	padding-top 100px
// Galleries
.gallery-clubes
	padding-left 40px
	.slick-prev
		left 14px
		&:before
			font-family 'fontello'
			content '\e813'
			color c_dark
	.slick-next
		&:before
			font-family 'fontello'
			content '\e814'
			color c_dark
			
	.slides
		height 100% 
		position relative
		.label-club
			display none
			position absolute
			width auto 
			min-width 100px
			opacity 0
			z-index 15
			top 20%
			left 100%
			text-align center
			border-radius 3px
			background rgba(0,0,0,.8)
			transition(all .5s ease)
			span
				font-family 'branding-medium'
				font-size 12px
				line-height 1.2em
				color c_white
				text-align center
				
		img 
			display block
			height 30px
			margin 0 auto
			cursor pointer
			core-options(filter,grayscale(100%))
			transition(all .5s ease)
			&:hover
				core-options(filter,grayscale(0%))
				transition(all .5s ease)
		&:hover
			.label-club
				display block
				opacity 1
				transition(all .5s ease)
.gallery-allides
.ctrl-menu
	display none
	float left
	width 24px
	height 16px
.principal-logo
	display none
header
	.principal-header
		position fixed
		width 100%
		z-index 15
		.top-header
			display block
			width 100%
			padding 5px 0
			background c_white
			clearfix()
			.text-clubes
				text-align center
				font-family 'branding-semibold'
				font-size 14px
				line-height 2.1em
				color c_gray
				p
					margin 0
		.bot-header
			display block
			width 100%
			background c_blue
			position relative
			clearfix()
			nav
				display block
				float left
				ul
					display block
					width 100%
					list-style none
					margin 0
					padding0
					li
						display table-cell
						height 50px
						text-align center
						font-family 'branding-medium'
						font-size 12px
						line-height 1.2em
						vertical-align middle
						color c_white
						padding 5px 15px
						position relative
						cursor pointer
						&:hover
							font-size 14px
							font-family 'branding-bold'
						&.current-menu-parent
							font-size 14px
							font-family 'branding-bold'
						&.menu-item-has-children
						&.sub
							&:after
								content ''
								display none
								position absolute
								left 50%
								bottom 0
								border-left 8px solid transparent
								border-right 8px solid transparent
								border-bottom 8px solid c_red
							&.current-menu-parent
								.sub-menu
								.submenu
									display block
								&:after
									display block
							&.menu-item-18952
								.sub-menu
									left -1700px
							&.menu-item-18956
								.sub-menu
									left -1780px
							&.menu-item-18962
								.sub-menu
									left -1990px
							&.menu-item-18965
								.sub-menu
									left -2030px
							&.menu-item-18969
								.sub-menu
									left -2150px
							&.menu-item-18972
								.sub-menu
									left -2230px
							.sub-menu
							.submenu
								position absolute
								display none
								width 4000px
								top 60px
								background c_red
								z-index 9
								&.clubes
									left -1700px
								&.campeonatos
									left -1780px
								&.noticias
									left -1990px
								&.resoluciones
									left -2030px
								&.dimayor
									left -2150px
								&.familia
									left -2230px
								ul
									display block
									width 100%
									list-style none
									margin 0
									padding 5px 0
									text-align center
								li
									display inline-block
									text-align center
									font-family 'branding-medium'
									font-size 12px
									line-height 2em
									height 25px
									vertical-align middle
									color c_white
									padding 0 15px
									position relative
									&.current-menu-item
										&:after
											content ''
											position absolute
											bottom 3px
											left calc(50% - 50px)
											width 100px
											height 3px
											background c_blue
									img
										display block
										height 50px
						&.sub-active
							&:after
								display block
							// &.current-menu-parent
							// &:hover
							// 	.sub-menu
							// 	.submenu
							// 		display block
							// 	&:after
							// 		display block
						// span
						// 	position absolute
						// 	top 0
						// 	left 0
						// 	width 100%
						// 	height 100%
						img
							display block
							height 50px
			.submenu-clubes
				position absolute
				display none
				width 100%
				top 60px
				left 0
				background c_red
				z-index 9
				ul
					display block
					width 100%
					list-style none
					margin 0
					padding 5px 0
					text-align center
					li
						display inline-block
						text-align center
						font-family 'branding-medium'
						font-size 12px
						line-height 1.2em
						vertical-align middle
						color c_white
						padding 0 15px
						position relative
						img
							display block
							height 50px
						span
							position absolute
							top 0
							left 0
							width 100%
							height 100%
			.btn-search
				float right
				padding 0 10px
				color c_white
				font-size 16px 
				line-height 3.8em
				vertical-align middle
				cursor pointer						
		.search-bar
			display none
			width 100%
			height 35px
			background c_red
			color c_white
			padding 5px 0
			.icon
				display inline-block
				font-size 17px
				margin-right 10px
			form
				width 95%
				display inline-block
				background c_red
				border none
				border-bottom 1px solid c_white
				padding 0 10px
				input
					background c_red
					font-family 'branding-medium'
					font-size 16px
					line-height 1.2em
					width 100%
					border none
					color c_white
					outline none
				::-webkit-input-placeholder
					color c_white
				::-moz-placeholder
					color c_white
				:-ms-input-placeholder 
					color c_white
				:-moz-placeholder 
					color c_white
.principal-banner
	width 100%
	display block
	margin-bottom 0 !important
	.slick-next
		right auto
		left 50%
		top 257px
		z-index 3
		width 860px
		&:before
			font-family "fontello"
			content '\e814'	
	.slick-prev
		left 50%
		top 257px
		z-index 3
		width 540px
		&:before
			font-family "fontello"
			content '\e813'	
	.slick-dots
		bottom 50px
		left 50%
		width 700px
		li
			button
				&:before
					font-family "fontello"
					content '\e82e'	
					font-size 13px
					line-height 1.2em
					color c_white
	.slide
		width 100% 
		display block
		position relative
		height 100%
		min-height 320px
		overflow hidden
		// img
		// 	position absolute
		// 	display block
		// 	top 50%
		// 	left 50%
		// 	max-width initial
		// 	width auto
		// 	min-width 100%
		// 	min-height 100%
		// 	transform(translate(-50%,-50%))
		img
			position relative
			display block
			top 0
			left 50%
			width auto
			max-height 320px
			transform(translate(-80%,0%))
		.cover-image
			position absolute
			top 0
			left 50%
			width 60%
			height 100%
			&.bg_1
				background url('../img/banners/b_blue.png') no-repeat
				background-size cover
				background-position-x 0px
		.cover-image-2
			position absolute
			top 0
			right 50%
			transform(translate(-455px,0px))
			width 60%
			height 100%
			&.bg_2
				background url('../img/banners/b_blue-02.png') no-repeat
				background-size cover
				background-position-x 100%
		.cover-text
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			text-align right
			.text-image
				display inline-block
				width 340px 
				vertical-align top
				margin-right 30px
				margin-top 20px
				color c_white
				h2 
					font-family 'branding-bold'
					font-size 29px
					line-height 1.2em
					margin 0
.app-dimayor
	display block
	width 100%
	background url('../img/content/back_01.jpg') no-repeat
	background-size cover
	padding 15px 0
	iframe
		display block
		width 100%
		max-width 830px
		height 530px
.section-multimedia
	width 100%
	display block
	padding 30px 0
	clearfix()
	&.bg_1
		background url('../img/content/back_02.jpg') no-repeat
		background-size cover
	&.bg_2
		background url('../img/content/back_04.jpg') no-repeat
		background-size cover
.principal-multimedia
	display block
	width 100%
	height 240px
	overflow hidden
	float left
	padding 0 10px
	margin-bottom 20px
	cursor pointer
	&.option-2
		.description-image
			background c_white
			color c_dark
	.content-image
		display inline-block
		width 66%
		height 100%
		position relative
		vertical-align top
		overflow hidden
		img
			display block
			width 100%
			height 100%
			transform(scale(1))
			transition(all 2s ease)	
		.cover-image
			position absolute
			bottom 0
			left 0
			width 100%
			padding-top 10px
			background url('../img/content/cover-multimedia.png') no-repeat
			background-position-x: -49px
			.date-event
				width 125px
				text-align center
				color c_white
				padding-left 10px
				padding-bottom 10px
				padding-top 15px
				p
					font-family 'branding-bold'
					font-size 40px
					line-height .8em
					margin 0
				span
					font-family 'branding-semilight'
					font-size 27px
					line-height .8em
					margin 0
	.description-image
		display inline-block
		width 34%
		height 100%
		margin-left -5px
		padding 25px
		background rgba(27, 35, 63, .7)
		color c_white
		overflow hidden
		vertical-align top
		h3
			display inline-block
			font-family 'branding-mediumitalic'
			font-size 13px 
			line-height 1.3em
			margin 5px 0
			vertical-align middle
			&.hash_green
				&:before
					content '#'
					display inline-block
					font-family 'branding-bolditalic'
					font-size 16px
					line-height 1.3em 
					color c_dark
					text-align center
					width 24px
					height 19px
					background url('../img/iconos/shape-green.png') no-repeat
					background-size 100% 100%
					background-position-x 2px
					vertical-align middle
			&.hash_red
				&:before
					content ''
					display inline-block
					font-family 'branding-bolditalic'
					font-size 16px
					line-height 1.3em 
					color c_dark
					text-align center
					width 24px
					height 19px
					background url('../img/iconos/shape-red.png') no-repeat
					background-size 22px 19px
					vertical-align middle
					

		h4
			display block
			font-family 'branding-bolditalic'
			font-size 18px
			line-height 1.2em
			margin 5px 0
		p
			display block
			font-family 'branding-semilight'
			font-size 12px
			line-height 1.2em
			margin 10px 0
	&:hover
		.content-image
			img
				transform(scale(1.2))
				transition(all 2s ease)	
.box-multimedia
	padding 0 10px
	cursor pointer
	&.option-2
		.description-image
			background c_white
			color c_dark
	.top-box
		display block
		width 100%
		overflow hidden
		img
			display block
			width 100%
			transform(scale(1))
			transition(all 2s ease)	
	.description-image
		display block
		width 100%
		background rgba(27, 35, 63, .7)
		color c_white
		padding 10px
		h3
			display inline-block
			font-family 'branding-mediumitalic'
			font-size 13px 
			line-height 1.3em
			margin 5px 0
			vertical-align middle
			&.hash_green
				&:before
					content '#'
					display inline-block
					font-family 'branding-bolditalic'
					font-size 16px
					line-height 1.3em 
					color c_dark
					text-align center
					width 24px
					height 19px
					background url('../img/iconos/shape-green.png') no-repeat
					background-size 100% 100%
					background-position-x 2px
					vertical-align middle
			&.hash_red
				&:before
					content ''
					display inline-block
					font-family 'branding-bolditalic'
					font-size 16px
					line-height 1.3em 
					color c_white
					text-align center
					width 24px
					height 19px
					background url('../img/iconos/shape-red.png') no-repeat
					background-size 22px 19px
					vertical-align middle
		h4
			display block
			font-family 'branding-bolditalic'
			font-size 16px
			line-height 1.2em
			margin 5px 0
	&:hover
		.top-box
			img
				transform(scale(1.2))
				transition(all 2s ease)	
.box-advertising
	width 100% 
	display block
	padding 0 23px
	margin-bottom 5px
	img
		display block
		width 100%
.box-first-multimedia
	display block
	width 100%
	padding 0 10px
	position relative
	overflow hidden
	cursor pointer
	img
		display block
		width 100%
	.cover-image
		position absolute
		bottom 0
		left 10px
		width calc(100% - 20px)
		width -moz-calc(100% - 20px)
		width -webkit-calc(100% - 20px)
		height 220px
		background url('../img/content/cover-multimedia-02.png') no-repeat
		background-size 100% 100%
		.text-multimedia
			padding  40px
			padding-top 105px
			text-align left
			color c_white
			h2
				font-family 'branding-bold'
				font-size 20px
				line-height 1.2em 
				margin 0
				margin-bottom 10px
			p
				font-family 'branding-semilight'
				font-size 12px
				line-height 1.2em 
				margin 0
				margin-bottom 10px
.container-error
	.text-error
		display block
		width 100%
		padding 200px 20px
		text-align center
		color c_dark
		h1
			font-family 'branding-black'
			font-size 100px
			line-height 1.2em
			margin 0
			padding 0
			position relative
			&.title-error
				&:after
					content ''
					position absolute 
					bottom -10px
					left 30%
					width 40%
					height 4px
					border-radius 3px
					background c_red
		h2
			font-family 'branding-bold'
			font-size 30px
			line-height 1.2em
			margin 0
			padding 0
			margin-top 20px
		p
			font-family 'branding-medium'
			font-size 25px
			line-height 1.2em
			margin 0
			padding 0
			margin-top 20px	
.search-result
	display block
	width 100%
	padding 15px 0
	form
		width 100%
		display block
		padding 0 10px
		color c_gray
		input
			border none
			background none
			width 100%
			font-family 'branding-bolditalic'
			color c_gray
			font-size 18px
			line-height 1.2em
			outline none
.box-description
	display block
	width 100% 
	max-width 540px
	margin 0 auto
	p
		font-family 'branding-medium'
		font-size 14px
		line-height 1.2em
		color c_dark
		margin 10px 0
		text-align left
		padding-right 30px

.publish-block
	h2
		&.bitter
			font-family 'branding-bold'
			font-size 27px
			line-height 1.2em
			color c_white
			padding 10px
			margin 20px 0
			background c_blue
			width 100%
			display inline-block
			img
				display inline-block
				margin-bottom 0px
	.resoluciones
		padding 0
		margin 20px 0
		list-style none
		width 100%
		display block
		li
			display block
			padding 10px
			border-bottom 1px solid c_blue
			text-align left 
			min-height 30px
			&:first-child
				border-top 1px solid c_blue
			h3
				font-family 'branding-bold'
				font-size 20px
				line-height 1.2em 
				color c_blue
				margin 10px 0
				&:hover
					color c_red
			.entry-summary
				width 100%
				display block
				padding-left 10px
				text-align left
				p
					font-family 'branding-medium'
					font-size 16px
					line-height 1.2em
					color c_blue
footer
	display block
	width 100%
	background url('../img/content/back_03.jpg') no-repeat
	background-size cover
	.top-footer
		display block
		width 100%
		padding 10px 0 
		clearfix()
		.aliados-dimayor
			border-bottom 1px solid c_white
			color c_white
			h2
				font-family 'branding-medium'
				font-size 15px
				line-height 1.2em
				margin 0
				padding 10px 0
				padding-left 10px
				border-bottom 1px solid c_white
			.allies
				display block
				width 100%
				height 100px
				padding-right 30px
				overflow hidden
				.slide-aliides
					display table-cell
					vertical-align middle
					height 100px
					padding 0 15px 
					cursor pointer
					outline none
					img
						display block
						width 100%
						&.wimg
							width 50px
		.Links-footer
			display block
			width 100%
			padding 10px 0
			.box-link
				display inline-block
				width 19%
				color c_white
				vertical-align top
				padding-right 50px
				a
				h2
					font-family 'branding-bold'
					font-size 12px
					line-height 1.5em
					text-align left
					margin 0
				ul
					list-style none
					margin 0
					padding 0
					display block
					li
						font-family 'branding-medium'
						font-size 12px
						line-height 1.5em
						text-align left
						margin 0
						a
							font-family 'branding-medium'
	.bottom-footer
		display block
		width 100%
		height 50px
		padding 15px 
		color c_white
		background c_dark
		.container
			ul
				padding 0 
				margin 0
				list-style none
				li
					display inline-block
					padding 0 2px
					font-family 'branding-medium'
					font-size 12px
					line-height 1.2em
					text-align left
			h3
				font-family 'branding-medium'
				font-size 15px
				line-height 1.2em
				margin 0
					

@media all and (max-width 920px)
	.principal-banner
		.slick-next
			width 760px
		.slick-prev
			width 440px
		.slick-dots
			width 600px
	header 
		.principal-header 
			.bot-header 
				nav 
					ul
						padding-left 0
						li
							padding 5px 10px
@media all and (max-width 800px)
	.wrapper
		padding-top 107px
	.ctrl-menu
		display block 
		float none
		position absolute
		top 10px
		left 10px
		width 24px
		margin-top 15px
		height 16px
		cursor pointer
		span
			display block
			width 100%
			height 4px
			margin-top 3px
			background c_white
			&.span1
				transform(translate(0px, 0px)rotate(0deg))
				transition(all 1s ease)
			&.span2
				opacity 1
				transition(opacity 1s ease)
			&.span3
				transform(translate(0px, 0px)rotate(0deg))
				transition(all 1s ease)
	.ctrl-menu-close
		span
			&.span1
				width 120%
				transform(translate(0px, 4px)rotate(-45deg))
				transition(all 1s ease)
			&.span2
				opacity 0
				transition(opacity 1s ease)
			&.span3
				width 120%
				transform(translate(0px, -10px)rotate(45deg))
				transition(all 1s ease)
	.gallery-clubes
		width 100%
		padding-left 0
		.slick-prev
			left -25px
		.slides
			height 100% 
			img 
				display block
				height 30px
				margin 0 auto
				cursor pointer
				core-options(filter,grayscale(0%))
	.principal-logo
		display block
		width 100%
		max-width 130px
		margin 0 auto
	header
		.principal-header
			position fixed
			width 100%
			z-index 15
			height 68px
			.top-header
				display block
				.text-clubes
					display none
			.bot-header
				position relative
				padding 10px 0
				.btn-search
					float none
					position absolute
					top 10px
					right 10px
				nav 
					display none
					position absolute
					top 60px
					left 0
					height calc(100vh - 60px)
					height -moz-calc(100vh - 60px)
					height -webkit-calc(100vh - 60px)
					width 100%
					overflow auto
					z-index 10
					background c_blue
					ul
						li
							display block
							text-align left
							padding 20px 10px
							height auto
							&:hover
								background #12182c
							&.logo
								display none
							&.menu-item-has-children
							&.sub
								cursor pointer
								.sub-menu
								.submenu
									position initial
									margin-top 10px
									margin-left -10px
									width calc(100% + 20px)
									width -moz-calc(100% + 20px)
									width -webkit-calc(100% + 20px)
									li
										display block
										text-align left
										height auto
										padding 5px
										&:hover
											background #97153b
								&:before
									content '\e812'
									font-family "fontello"
									font-size 14px
									line-height 1.2em
									color c_white
									position absolute
									top 20px
									right 20px
									transition(all .5s ease)
								&:hover
									&:after
										display none
									.sub-menu
									.submenu
										display none
							&.sub-active
								&:after
									display none
								&:before
									content '\e815'
									transition(all .5s ease)
			.search-bar
				form
					width 85%
	.principal-banner
		.slide 
			.cover-image 
				.text-image 
					top 100px
					right 10px 
					h2
						font-size 30px
@media all and (max-width 768px)
	.principal-multimedia 
		.description-image 
			padding 12px
			h4
				font-size 15px	
	.box-multimedia 
		.description-image 
			h4
				font-size 13px
	.principal-banner
		.slick-dots
			bottom 130px
			width 100%
			right auto
			left 0
		.slick-prev
			left 30%
			top auto
			bottom 120px
			width 20px
		.slick-next
			left auto
			right 30%
			top auto
			bottom 120px
			width 20px
		.slide 
			// min-height 340px
			min-height initial
			img
				transform(none)
				left 0
				width 100%
				max-height initial
				height auto
			.cover-image
				position relative
				padding-bottom 10px
				width 100%
				height 120px
				top auto
				bottom 0
				right auto
				left 0
				&.bg_1
					background c_blue
				.text-image 
					top 10px
					left 10px 
					width 100%
					text-align center
					h2
						font-size 18px
						text-align left
			.cover-text
				position absolute
				top auto
				bottom 5px
				left 0
				height auto
				width 100%
				min-height 100px
				text-align center
				.text-image
					display inline-block
					width 100%
					vertical-align top
					margin-right 30px
					margin-top 20px
					color c_white
					h2 
						font-size 18px
						text-align left
		
	footer 
		.top-footer 
			.aliados-dimayor 
				h2
					text-align center
					&.mr20
						margin-right 0 !important
				.allies 
					padding-right 0
					height auto
					text-align center
					.slide-aliides
						padding 15px
						display inline-block
						height auto
						img
							&.wimg
								width 65px
			.Links-footer
				.box-link
					width 33.33333%
					margin-left -4px
					padding-right 10px
					margin-bottom 10px
		.bottom-footer
			clearfix()
			height auto
			.left
				float none !important
				margin-bottom 20px
				ul
					text-align center
			.right
				float none !important
				text-align center								
@media all and (max-width 500px)
	.container
		&.ph
			padding 0 30px						
	// .principal-banner
	// 	.slick-dots
	// 		bottom 110px
	// 		width 100%
	// 		right 0
	// 	.slick-prev
	// 		left 25%
	// 		top 218px
	// 	.slick-next
	// 		right 25%
	// 		top 218px
	// 	.slide 
	// 		min-height 340px
	// 		.cover-image
	// 			width 100%
	// 			height 100px
	// 			top calc(100% - 100px)
	// 			top -moz-calc(100% - 100px)
	// 			top -webkit-calc(100% - 100px)
	// 			right 0
	// 			&.bg_1
	// 				background c_blue
	// 			.text-image 
	// 				top 10px
	// 				left 10px 
	// 				width 100%
	// 				text-align center
	// 				h2
	// 					font-size 18px
	// 					text-align left
	.principal-multimedia
		width 100%
		height auto
		.content-image
			width 100%
		.description-image
			width 100%
			margin-left 0
	.box-multimedia
		margin-bottom 20px
		.description-image
			padding 10px 20px
	.app-dimayor
		iframe
			height 600px
	footer 
		.top-footer 
			.aliados-dimayor 
				h2
					text-align center
					&.mr20
						margin-right 0 !important
				.allies 
					padding-right 0
					height auto
					text-align center
					.slide-aliides
						padding 15px
						display inline-block
						height auto
						img
							&.wimg
								width 65px
			.Links-footer
				ul
					margin 0
					padding 0
				.box-link
					display block
					width 100%
					padding-right 0
					a
					h2
						width 100%
						display block
						font-size 14px
						text-align left 
						background c_blue
						position relative
						padding 5px 10px
						cursor pointer
						&:after
							font-family "fontello"
							content '\e812'
							position absolute
							color c_white
							top 5px
							right 10px
							font-size 14px
							transform(rotate(0deg))
							transition(all .5s ease)
						&.active
							&:after
								transform(rotate(180deg))
								transition(all .5s ease)
					ul
						display none
						padding 0 10px
						li
							font-size 13px
							padding 5px 0
							cursor pointer
							display block
							width 100%
							border-bottom 1px solid c_white
							a
								&:after
									display none
							&:hover
								background c_blue
							
		.bottom-footer
			clearfix()
			height auto
			.left
				float none !important
				margin-bottom 20px
				ul
					text-align center
			.right
				float none !important
				text-align center
				
			